{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create Event</legend>
                <div class="form-group">
                    {{ form.event_name.label(class="form-control-label") }}

                    {% if form.event_name.errors %}
                        {{ form.event_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.event_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.event_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.event_type.label(class="form-control-label") }}
                    {% if form.event_type.errors %}
                        {{ form.event_type(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.event_type.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.event_type(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-check">
                    {{ form.is_private(class="form-check-input") }}
                    {{ form.is_private.label(class="form-check-label") }}
                </div>
                <div class="form-group">
                    {{ form.event_date.label(class="form-control-label") }}
                    {% if form.event_date.errors %}
                        {{ form.event_date(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.event_date.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.event_date(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <p>Enter Event Address:</p>
                <div class="form-group">
                    {{ form.address_distinct.label(class="form-control-label") }}
                    {% if form.address_distinct.errors %}
                        {{ form.address_distinct(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.address_distinct.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.address_distinct(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.address_street.label(class="form-control-label") }}
                    {% if form.address_street.errors %}
                        {{ form.address_street(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.address_street.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.address_street(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.address_no.label(class="form-control-label") }}
                    {% if form.address_no.errors %}
                        {{ form.address_no(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.address_no.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.address_no(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.address_city.label(class="form-control-label") }}
                    {% if form.address_city.errors %}
                        {{ form.address_city(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.address_city.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.address_city(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.address_country.label(class="form-control-label") }}
                    {% if form.address_country.errors %}
                        {{ form.address_country(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.address_country.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.address_country(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit_event(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    
{% endblock content %}