{% extends "layout.html" %}
{% block content %}
<p>
    <h1>Your Events</h1>
    <p>
        <p> {% for event in events %}
            <article class="media content-section align-items-stretch">
                <img src="{{event.image_path}}" style="width: 120px; height: 120px;" class="img-fluid">
                <div class="media-body ml-3 col-6 align-self-end">
                    <div class="event-body mb-auto">
                        <div class="event-metadata">
                            <small class="text-muted">{{ event.event_name }}</small>
                            <small class="text-muted">{{ event.event_date }}</small>
                        </div>
                        <p class="event-content">{{ event.event_type }}</p>
                    </div>
                    <a class="btn btn-info btn-sm mt-3 mb-1"
                        href="{{ url_for('updateEvent', event_id=event.event_id) }}">
                        Update
                    </a>
                    <a class="btn btn-danger btn-sm mt-3 mb-1"
                        href="{{ url_for('deleteEvent', event_id=event.event_id) }}">
                        Delete
                    </a>
                </div>

            </article>
        </p>
        {% endfor %}

        {% endblock content %}