{% extends "layout.html" %}
{%  block content   %}
<script>
  function addUserEvent(eventId) {
    var xhttp = new XMLHttpRequest();
    xhttp.open("GET", "/UserEvent/" + eventId + "/create", true);
    xhttp.send();
    document.getElementById(eventId).innerHTML = "Delete from Schedule";
    document.getElementById(eventId).className = "btn btn-danger btn-sm ml-3 mt-3 mb-1"
    document.getElementById(eventId).setAttribute( "onClick", "javascript: " + "deleteUserEvent(" + eventId + ")" );
  }

  function deleteUserEvent(eventId) {
    var xhttp = new XMLHttpRequest();
    xhttp.open("GET", "/UserEvent/" + eventId + "/delete", true);
    xhttp.send();
    document.getElementById(eventId).innerHTML = "Add to Schedule";
    document.getElementById(eventId).className = "btn btn-info btn-sm ml-3 mt-3 mb-1"
    document.getElementById(eventId).setAttribute( "onClick", "javascript: " + "addUserEvent(" + eventId + ")" );
  }
</script>
<p>
  <h1>Welcome to Iwent!</h1>
</p>
<p> {% for event in events %}
  <article class="media content-section">
    <img src="{{url_for('get_image', img_id=event.img_id)}}" class="img-fluid float-right mr-4"
      style="border-radius: 45px; width: 120px; height: 120px;">
    <div class="media-body">
      <div class="event-metadata">
        <a class="mr-2" href="{{ url_for('eventInfo', event_id=event.event_id) }}">{{ event.event_name }}</a>
        <small class="text-muted">{{ event.event_date }}</small>
      </div>
      <h2><a class="event-title" href="#">{{ event.event_name }}</a></h2>
      <p class="event-content">{{ event.event_type }}</p>
    </div>
    {% if current_user.is_authenticated %}
    {% if event.is_added_to_schedule %}
    <a class="btn btn-danger btn-sm ml-3 mt-3 mb-1" id="{{ event.event_id }}"
    onclick="deleteUserEvent({{ event.event_id }})">
      Delete From Schedule
    </a>
    {% else %}
    <a class="btn btn-info btn-sm ml-3 mt-3 mb-1" id="{{ event.event_id }}"
      onclick="addUserEvent({{ event.event_id }})">
      Add to Schedule
    </a>
    {% endif %}
    {% endif %}
  </article>
  {% endfor %}
</p>
{% endblock %}