{% extends "layout.html" %}
    {%  block content   %}
        <p><h1>Welcome to Iwent!</h1></p>
            <p> {% for event in events %}
                    <article class="media content-section">
                            <div class="media-body">
                              <div class="event-metadata">
                                <a class="mr-2" href="#">{{ event.eventPlace }}</a>
                                <small class="text-muted">{{ event.eventDate }}</small>
                              </div>
                              <h2><a class="event-title" href="#">{{ event.eventName }}</a></h2>
                              <p class="event-content">{{ event.eventType }}</p>
                            </div>
                          </article>
        {% endfor%}
    </p>
    {% endblock %}
