{% extends "layout.html" %}
{%  block content   %}
<p>
    <h2>List of Organizations</h2>
</p>
<p> {% for organization in organizations %}
    <article class="media content-section">
        <div class="media-body">
            <h2>
                <a class="organization-title">{{ organization.organization_name }}</a>
                <small class="text-muted">{{ organization.organization_rate }}</small>
            </h2>
            <p class="organization-information">{{ organization.organization_information }}</p>
            <p class="text-muted organization-address">{{ organization.organization_address }}</p>
        </div>
    </article>
    {% endfor%}
</p>
{% endblock %}