{% extends "layout.html" %}
{%  block content   %}
{% if title == "updateOrganization" %}
<div class="content-section">
    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            {% if title == "createOrganization" %}
                <legend class="border-bottom mb-4">Create Organization</legend>
            {% elif title == "updateOrganization" %}
                <legend class="border-bottom mb-4">Update Organization</legend>
            {% endif %}
            <div class="form-group">
                {{ form.organization_name.label(class="form-control-label") }}

                {% if form.organization_name.errors %}
                    {{ form.organization_name(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.organization_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.organization_name(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group" >
                {{ form.organization_information.label(class="form-control-label") }}
                {% if form.organization_information.errors %}
                    {{ form.organization_information(class="form-control form-control-lg is-invalid" ) }}
                    <div class="invalid-feedback">
                        {% for error in form.organization_information.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.organization_information(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <p>Enter Organization Address:</p>
            <div class="form-group">
                {{ form.address_distinct.label(class="form-control-label") }}
                {% if form.address_distinct.errors %}
                    {{ form.address_distinct(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.address_distinct.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.address_distinct(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.address_street.label(class="form-control-label") }}
                {% if form.address_street.errors %}
                    {{ form.address_street(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.address_street.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.address_street(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.address_no.label(class="form-control-label") }}
                {% if form.address_no.errors %}
                    {{ form.address_no(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.address_no.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.address_no(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.address_city.label(class="form-control-label") }}
                {% if form.address_city.errors %}
                    {{ form.address_city(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.address_city.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.address_city(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.address_country.label(class="form-control-label") }}
                {% if form.address_country.errors %}
                    {{ form.address_country(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.address_country.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.address_country(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.image.label() }}
                {{ form.image(class="form-control-file") }}
                {% if form.image.errors %}
                    {% for error in form.image.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                    {% endfor %}
                {% endif %}
            </div>
        </fieldset>
        {% if title == "createOrganization" %}
            <div class="form-group">
                {{ form.submit_organization(class="btn btn-outline-info") }}
            </div>
            {% elif title == "updateOrganization" %}
            <div class="form-group">
                    {{ form.submit_update(class="btn btn-outline-info") }}
            </div>
        {% endif %}
    </form>
</div>


{% elif title == "Organizations" %}
<p>
    <h2>List of Organizations</h2>
</p>
<p> {% for organization in organizations %}
    <article class="media content-section">
        <div class="media-body">
            <h2>
                <a id="organization-title">{{ organization.organization_name }}</a>
                <img src="{{url_for('get_image', img_id=organization.img_id)}}" class="img-fluid float-right" style="border-radius: 45px; width: 120px; height: 120px;">
            </h2>
            <p class="organization-information">{{ organization.organization_information }}</p>
            <p class="text-muted organization-address">{{ organization.organization_address }}</p>

            <a class="btn btn-info btn-sm ml-3 mt-3 mb-1" href="{{ url_for('updateOrganization', organization_id=organization.organization_id) }}">
                Update
            </a>
            <a class="btn btn-danger btn-sm ml-3 mt-3 mb-1"
                href="{{url_for('deleteOrganization', organization_id=organization.organization_id)}}">
                Delete
            </a>
        </div>

    </article>
    {% endfor%}
</p>
{% endif %}
{% endblock %}