{% extends "layout.html" %}
{% block content %}
<p>
    <h1>Your Places</h1>
    <p>
        <p> {% for place in places %}
            <article class="media content-section">
                <div class="media-body">
                    <div class="place-metadata">
                        <a class="mr-2" href="#">{{ place.place_name }}</a>
                        <small class="text-muted">{{ place.place_type }}</small>
                    </div>
                    <p class="place-content">{{ place.place_capacity }}</p>
                    <a class="btn btn-info btn-sm ml-3 mt-3 mb-1"
                        href="{{ url_for('updatePlace', place_id=place.place_id) }}">
                        Update
                    </a>
                    <a class="btn btn-danger btn-sm ml-3 mt-3 mb-1"
                        href="{{ url_for('deletePlace', place_id=place.place_id) }}">
                        Delete
                    </a>

                </div>

            </article>
        </p>
        {% endfor %}

        {% endblock content %}